/* @formatter:off */
            body {
                font-family: Georgia, serif;
            }

            span {
                border: 1px solid darkgray;
                background-color: lightgray;
                cursor: pointer;
            }

            h1 {
                text-align: center;
            }

            h3 {
                text-align: center;
                font-style: italic;
            }

            h2 {
                text-decoration: underline;
            }
